body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.auth-user-login, .auth-user-signup {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #6b6b6b;
    width: 350px;
    padding: 30px 15px;
    border-radius: 10px;
}