form {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .title-form {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

form .box-email-user, .box-password-user, .box-country-user {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    padding: 5px;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
}

form .box-email-user > label,
form .box-password-user > label {
    left: 0;
    position: absolute;
    margin-left: 30px;
    transition: all 0.5s;
    display: none;
    top: -10px;
}

form .box-email-user input,
form .box-password-user input,
form .box-country-user select {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 45px;
    width: 90%;
    outline: none;
    background-color: transparent;
}

form .box-email-user:focus-within label,
form .box-password-user:focus-within label {
    display: block;
    transition: all 0.5s;
}

form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* substitui o fundo */
  -webkit-text-fill-color: #000 !important; /* cor do texto */
  transition: background-color 9999s ease-in-out 0s;
}

.forgetPassword-and-createAccount {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.7rem;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.forgetPassword-and-createAccount #forget-password, #create-account {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.forgetPassword-and-createAccount #forget-password:hover, #create-account:hover {
    opacity: 0.6;
}

form button[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.5s;

}

form button[type="submit"]:hover {
    opacity: 0.8;
}
